body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  min-height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.list-container {
  display: flex;
  flex: .5;
  flex-direction: column;
  padding: 0 12px;
  min-width: 0;
}

.view-container {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  padding: 0 12px;
}
